// @import url('https://chinese-fonts-cdn.deno.dev/packages/lxgwwenkai/dist/LXGWWenKai-Regular/result.css');
$global-font-family: 'sans-serif', $global-font-family;

$global-background-color: #ffffffab;
$global-background-color-dark: #0b0b0bf6;

$header-background-color: #e4e0e0;
$header-background-color-dark: #17171a;

$toc-title-font-size: 1rem;
$toc-content-font-size: 0.875rem;

$header-title-font-family: $global-font-family;
$header-title-font-size: 1.8rem;

// $blockquote-color: #d86c5e;
// $blockquote-color-dark: #e8a65f;

$header-height: 3.8rem;