// @import url('https://chinese-fonts-cdn.deno.dev/packages/lxgwwenkai/dist/LXGWWenKai-Regular/result.css');
// $global-font-family: 'sans-serif', $global-font-family;

$global-background-color: #ffffffab;
$global-background-color-dark: #060606f6;

$header-background-color: #e4e0e0;
$header-background-color-dark: #151717;

$toc-title-font-size: 1rem;
$toc-content-font-size: 0.875rem;

$header-title-font-family: $global-font-family;
$header-title-font-size: 1.8rem;

$blockquote-color: #3e3c3c;
$blockquote-color-dark: #c5d3d9;

$global-font-color: #161209;
$global-font-color-dark: #d6d6dd;

$menu-active-color: #1fbbe6;
$menu-active-color-dark: #fff;

$header-height: 3.8rem;